@font-face {
    font-family: 'ICIELINTERNACIONAL';
    src: url('./fonts/ICIELINTERNACIONAL-BOLD.OTF');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'ICIELINTERNACIONAL';
    src: url('./fonts/ICIELINTERNACIONAL-REGULAR.OTF');
    font-style: normal;
    font-weight: normal;
}