* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.vct-master-wrapper {
    font-size: 17px;
    line-height: 1.3;
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
    padding-top: 44px;
}

.v-mb {
    display: none;

    img {
        width: 100%;
        height: auto;
    }
}

.v-pc {
    display: block;
}


@media (max-width: 1024px) {
    .v-mb {
        display: block;
    }

    .v-pc {
        display: none;
    }
}